<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="empId">Id</label>
      <input type="text" class="form-control" id="empId" required [(ngModel)]="employee.empId" name="empId" readonly>
    </div>

    <div class="form-group">
      <label for="empName">Name</label>
      <input type="text" class="form-control" id="empName" required [(ngModel)]="employee.empName" name="empName">
    </div>

    <div class="form-group">
      <label for="designation">Designation</label>
      <input type="text" class="form-control" id="designation" required [(ngModel)]="employee.designation" name="designation">
    </div>

    <div class="form-group">
      <label for="empSal">Salary</label>
      <input type="text" class="form-control" id="empSal" required [(ngModel)]="employee.empSal" name="empSal">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" required [(ngModel)]="employee.gender" name="gender">
    </div>

    <div class="form-group">
      <label for="mobile">Mobile no.</label>
      <input type="text" class="form-control" id="mobile" required [(ngModel)]="employee.mobile" name="mobile">
    </div>

    <div class="form-group">
      <label for="email">Employee Email id</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
    </div>

    <div class="form-group">
      <label for="dept">Department</label>
      <input type="text" class="form-control" id="dept" required [(ngModel)]="employee.dept" name="dept">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
